<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--&#45;&#45; <html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Main_Page</title>
    <div th:insert="head_template :: main_head"/>
</head>
<body>

<div th:insert="template :: header"/>

<div id="page-container">
    <div id="content-wrap">

        <main>
            <section class="page">

                <ul id="parent">
                    <li>
                        <form name="location" class="find">
                            <legend>Find your place</legend>
                            <div class="mb-3">
                                <div class="col">
                                    <label class="form-label">Country</label>
                                    <input type="text" class="form-control" placeholder="Poland" aria-label="Country" name="country">
                                </div>
                                <div class="col">
                                    <label class="form-label">City</label>
                                    <input type="text" class="form-control" placeholder="Krakow" aria-label="City" name="city">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Find city</button>
                        </form>

                    </li>
                    <li>
                        <div class="container">
                            <table class="table " >
                                <tbody class="tbody" >

                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
    </div>
</div>

<div th:insert="template :: footer"/>

<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>