body {
    background-image: url('pictures/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
}

.page {
    position: center;
    width: 1200px;
    margin: 0 auto;
}

.app {
    display: inline-block;
}

header {
    background-color: olive;
}

.button {
    padding: 20px 50px 0 5px;
    display:block
}

.nav {
    float: right;
    display: inline-block;
    padding: 15px;
    background-color: beige;
    margin: 55px 100px 40px 0px;
}

.header__logo {
    width: 150px;
    float: left;
    display: inline-block;
    background-position: center;
}

.logo2 {
    font-size: 120px;

}

.header__CountryApp {
    font-family: 'Potta One', cursive;
    font-size: 40px;
    margin: auto;



}















