body {
    background-image: url('pictures/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
}

.page {
    position: center;
    width: 1200px;
    margin: 0 auto;
}

.app {
    display: inline-block;
}

header {
    background-color: olive;
}

.button {
    padding: 20px 50px 0 5px;
    display: block
}

.nav {
    float: right;
    display: inline-block;
    padding: 15px;
    background-color: beige;
    margin: 55px 50px 40px 0px;
}

.header__logo {
    width: 150px;
    float: left;
    display: inline-block;
    background-position: center;
}

.logo2 {
    font-size: 120px;
}

.header__CountryApp {
    font-family: 'Potta One', cursive;
    font-size: 40px;
    margin: auto;
}

.form-control {
    width: 400px;
}

.find {
    float: right;
    display: inline-block;
    padding: 35px;
    background-color: beige;

}

footer {
    background-color: olive;
    height: 100px;
}

@media only screen and (max-width: 1200px) {
    .page {
        width: 100%;
    }
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 150px;
    height: 100px;
    border: 2px solid #03b1ce;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

/*.city_field {*/
/*    float: left;*/
/*    display: inline-block;*/
/*}*/
/*.container {*/
/*    display: inline-block;*/
/*    float:left;*/
/*}*/
.tbody {
    margin-bottom: 5000px;
}

#parent {
    list-style: none;
    width: 100%;
    margin-top: 60px;
    margin-right: 50px;
    overflow-x: auto;
    overflow-y: hidden;
}

#parent > li {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: right;
}


